<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div echarts [options]="chartAuthor" [merge]="mergeAuthor" class=""></div>
        </div>
        <div class="col-sm-6">
            <div echarts [options]="chartComment" [merge]="mergeComment" class=""></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div echarts [options]="chartVote" [merge]="mergeVote" class=""></div>
        </div>
        <div class="col-sm-6">
            <div echarts [options]="chartPayout" [merge]="mergePayout" class=""></div>
        </div>
    </div>
</div>