<app-bar (onLoad)="load()" (onShowGraph)="showGraph()" (onShowSettings)="showSettings()" [title]="title"
    [isVisibleGraph]="visibleGraph" id="bar">
</app-bar>

<div class="container-fluid" id="list" *ngIf="postsModel != undefined && !isLoadingData">
    <app-line-chart *ngIf="visibleGraph"></app-line-chart>

    <div class="accordion" id="accordionExample" *ngIf="!visibleGraph">
        <div *ngFor="let posts of postsModel.postsSorted; index as i" class="">

            <div class="accordion-item" *ngIf="i<items">
                <h2 class="accordion-header" [attr.id]="'heading' + i">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse' + i" aria-expanded="false"
                        [attr.aria-controls]="'collapse' + i" [class.collapsed]="i>0">
                        <div class="container-fluid">
                            <div class="row row-cols-auto">
                                <div class="col-lg my-1">od {{postsModel.dates[i].dateFrom}} <br />
                                    do {{postsModel.dates[i].dateUntil}}
                                </div>
                                <div class="col-lg-1 text-end my-1">Postů: <br><span
                                        class="fw-bold">{{postsModel.totalCount[i].totalPosts}}</span></div>
                                <div class="col-lg-1 text-end my-1">Autorů: <br><span
                                        class="fw-bold">{{postsModel.totalCount[i].totalAuthors}}</span></div>
                                <div class="col-lg-1 text-end my-1">Čekající: <br><span
                                        class="fw-bold">{{postsModel.totalCount[i].totalPending.toFixed(3)}}</span>
                                </div>
                                <div class="col-lg-1 text-end my-1">Vyplaceno: <br><span
                                        class="fw-bold">{{postsModel.totalCount[i].totalPayouts.toFixed(3)}}</span>
                                </div>
                                <div class="col-lg-1 text-end my-1">Komentářů: <br><span
                                        class="fw-bold">{{postsModel.totalCount[i].totalComments}}</span></div>
                                <div class="col-lg-1 text-end my-1">Hlasů: <br><span
                                        class="fw-bold">{{postsModel.totalCount[i].totalVotes}}</span></div>
                            </div>
                        </div>

                    </button>
                </h2>
                <div [attr.id]="'collapse' + i" class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accordionExample" [class.show]="i === 0">

                    <ul class="nav nav-tabs mt-3">
                        <li class="nav-item">
                            <button class="nav-link" (click)="clickChangeShowData('post')"
                                [class.active]="showData === 'post'">Posty</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" (click)="clickChangeShowData('author')"
                                [class.active]="showData === 'author'">Autoři</button>
                        </li>
                    </ul>

                    <div class="accordion-body">
                        <!-- Seznam postů-->
                        <div *ngIf="showData === 'post'">
                            <!--data pro desktop-->
                            <div class="desktop">
                                <div class="text-center" *ngIf="postsModel.actualViewPosts[i].getTotalPages()>1">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-outline-dark"
                                            (click)="pageDown(i)">«</button>
                                        <button type="button"
                                            class="btn btn-outline-dark">{{postsModel.actualViewPosts[i].actualPages}}/{{postsModel.actualViewPosts[i].getTotalPages()}}</button>
                                        <button type="button" class="btn btn-outline-dark"
                                            (click)="pageUp(i)">»</button>
                                    </div>
                                </div>

                                <div class="row h6 fw-bold" *ngIf="posts.length>0">
                                    <div class="col-lg-2 text-start py-2" (click)="clickCreate()"
                                        [class.activeSort]="selectClickedColl==='created'">Vytvořeno</div>
                                    <div class="col-lg-2 text-start py-2" (click)="clickAuthor()"
                                        [class.activeSort]="selectClickedColl==='author'">Autor</div>
                                    <div class="col-lg-4 text-start py-2" (click)="clickTitle()"
                                        [class.activeSort]="selectClickedColl==='title'">Nadpis</div>
                                    <div class="col-lg-1 text-end py-2" (click)="clickPending()"
                                        [class.activeSort]="selectClickedColl==='pending'" *ngIf="showPayout">Čekající
                                    </div>
                                    <div class="col-lg-1 text-end py-2" (click)="clickPayout()"
                                        [class.activeSort]="selectClickedColl==='payout'" *ngIf="showPayout">Vyplaceno
                                    </div>
                                    <div class="col-lg-1 text-end py-2" (click)="clickChildren()"
                                        [class.activeSort]="selectClickedColl==='children'" *ngIf="showComment">
                                        Komentáře</div>
                                    <div class="col-lg-1 text-end py-2" (click)="clickActiveVotes()"
                                        [class.activeSort]="selectClickedColl==='votes'" *ngIf="showVote">Hlasy</div>
                                </div>

                                <div *ngFor="let post of posts.slice(this.postsModel.actualViewPosts[i].actualViewPost,this.postsModel.actualViewPosts[i].actualViewPost+rows)"
                                    class="row item" (click)="clickItem(post)">
                                    <div class="col-sm-2 text-start">{{this.dateFormat.getLocaleDate(post.created)}}
                                    </div>
                                    <div class="col-lg-2 text-start wrap-text">@{{post.author}}</div>
                                    <div class="col-lg-4 text-start">{{post.title}}</div>
                                    <div class="col-lg-1 text-end" *ngIf="showPayout">{{post.pending_payout_value}}
                                    </div>
                                    <div class="col-lg-1 text-end" *ngIf="showPayout">{{post.total_payout_value}}</div>
                                    <div class="col-lg-1 text-end" *ngIf="showComment">{{post.children}}</div>
                                    <div class="col-lg-1 text-end" *ngIf="showVote"><span
                                            *ngIf="postsModel.negativeVotes(post)>0"
                                            class="text-danger">{{postsModel.negativeVotes(post)}} |
                                        </span>{{post.active_votes.length}}</div>
                                </div>


                                <app-item-total [totalCount]="postsModel.totalCount" [showPayout]="showPayout" [showComment]="showComment" [showVote]="showVote" [showData]="showData" [i]="i"></app-item-total>

                            </div>
                            <!--data pro mobil-->
                            <div class="mobile">
                                <div class="text-center mb-2" *ngIf="postsModel.actualViewPosts[i].getTotalPages()>1">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-outline-dark"
                                            (click)="pageDown(i)">«</button>
                                        <button type="button"
                                            class="btn btn-outline-dark">{{postsModel.actualViewPosts[i].actualPages}}/{{postsModel.actualViewPosts[i].getTotalPages()}}</button>
                                        <button type="button" class="btn btn-outline-dark"
                                            (click)="pageUp(i)">»</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <form class="d-flex">
                                        <select [(ngModel)]="selectSortType" (change)="onChangeTypeSort()"
                                            name="typeSort" class="form-select mx-1">
                                            <option *ngFor="let sort of sortTypes" [ngValue]="sort">{{sort.type}}
                                            </option>

                                        </select>
                                        <select [(ngModel)]="selectSortArrow" (change)="onChangeTypeSort()"
                                            class="form-select mx-1" name="arrowSort">
                                            <option *ngFor="let arrow of sortArrows" [ngValue]="arrow">{{arrow.type}}
                                            </option>
                                        </select>
                                    </form>
                                </div>

                                <div *ngFor="let post of posts.slice(this.postsModel.actualViewPosts[i].actualViewPost,this.postsModel.actualViewPosts[i].actualViewPost+rows)"
                                    class="row item my-1 mobile-item border" (click)="clickItem(post)">
                                    <div class="col-lg text-start fw-bold mx-1">{{post.title}}</div>
                                    <div class="col-lg">
                                        <div class="float-start">{{this.dateFormat.getLocaleDate(post.created)}}</div>
                                        <div class="float-end">@{{post.author}}</div>
                                    </div>

                                    <div class="col-lg">
                                        <div class="float-start" *ngIf="showPayout">Čekající:
                                            {{post.pending_payout_value}}</div>
                                        <div class="float-end" *ngIf="showPayout">Vyplaceno: {{post.total_payout_value}}
                                        </div>
                                    </div>

                                    <div class="col-lg">
                                        <div class="float-start" *ngIf="showComment">Komentáře: {{post.children}}</div>
                                        <div class="float-end" *ngIf="showVote">Hlasy:
                                            <span *ngIf="postsModel.negativeVotes(post)>0" class="text-danger">
                                                {{postsModel.negativeVotes(post)}} |
                                            </span>{{post.active_votes.length}}
                                        </div>

                                    </div>
                                </div>

                                <app-item-total [totalCount]="postsModel.totalCount" [showPayout]="showPayout" [showComment]="showComment" [showData]="showData" [i]="i"></app-item-total>

                            </div>
                        </div>

                        <!--Seznam autorů-->
                        <div *ngIf="showData === 'author'">
                            <!--data pro desktop-->
                            <div class="desktop">


                                <div class="row h6 fw-bold" *ngIf="postsModel.postsAuthor[i].length>0">
                                    <div class="col-lg-2 text-center py-2" (click)="clickAuthor()"
                                        [class.activeSort]="selectClickedColl==='author'">Autor</div>
                                    <div class="col-lg-2 text-center py-2" (click)="clickPost()"
                                        [class.activeSort]="selectClickedColl==='post'">Posty</div>
                                    <div class="col-lg-2 text-end py-2" (click)="clickPending()"
                                        [class.activeSort]="selectClickedColl==='pending'" *ngIf="showPayout">Čekající
                                    </div>
                                    <div class="col-lg-2 text-end py-2" (click)="clickPayout()"
                                        [class.activeSort]="selectClickedColl==='payout'" *ngIf="showPayout">Vyplaceno
                                    </div>
                                    <div class="col-lg-2 text-end py-2" (click)="clickChildren()"
                                        [class.activeSort]="selectClickedColl==='children'" *ngIf="showComment">
                                        Komentáře</div>
                                    <div class="col-lg-2 text-end py-2" (click)="clickActiveVotes()"
                                        [class.activeSort]="selectClickedColl==='votes'" *ngIf="showVote">Hlasy</div>
                                </div>

                                <div *ngFor="let author of postsModel.postsAuthor[i]" class="row item">
                                    <div class="col-lg-2">@{{author.author}}</div>
                                    <div class="col-lg-2 text-center">{{author.posts}}</div>
                                    <div class="col-lg-2 text-end" *ngIf="showPayout">
                                        {{author.pendingPayoutValue.toFixed(3)}} HBD</div>
                                    <div class="col-lg-2 text-end" *ngIf="showPayout">
                                        {{author.totalPayoutValue.toFixed(3)}} HBD</div>
                                    <div class="col-lg-2 text-end" *ngIf="showComment">{{author.comments}}</div>
                                    <div class="col-lg-2 text-end" *ngIf="showVote"><span *ngIf="author.negativeVotes>0"
                                            class="text-danger">{{author.negativeVotes}} | </span>{{author.votes}}</div>
                                </div>

                                <app-item-total [totalCount]="postsModel.totalCount" [showPayout]="showPayout" [showComment]="showComment" [showData]="showData" [i]="i"></app-item-total>
                            </div>
                            <!--data pro mobil-->
                            <div class="mobile">
                                <div class="row">
                                    <form class="d-flex"><select [(ngModel)]="selectSortType"
                                            (change)="onChangeTypeSort()" name="typeSort" class="form-select mx-1">
                                            <option *ngFor="let sort of sortTypes" [ngValue]="sort">{{sort.type}}
                                            </option>

                                        </select>
                                        <select [(ngModel)]="selectSortArrow" (change)="onChangeTypeSort()"
                                            class="form-select mx-1" name="arrowSort">
                                            <option *ngFor="let arrow of sortArrows" [ngValue]="arrow">{{arrow.type}}
                                            </option>
                                        </select>
                                    </form>
                                </div>

                                <div *ngFor="let author of postsModel.postsAuthor[i]" class="row item my-1 mobile-item border">
                                    <div class="col-lg">
                                        <div class="float-start text-start fw-bold">@{{author.author}}</div>
                                        <div class="float-end text-end">Posty: {{author.posts}}</div>
                                    </div>
                                    <div class="col-lg">
                                        <div class="float-start text-start" *ngIf="showPayout">Čekající:<br />
                                            {{author.pendingPayoutValue.toFixed(3)}} HBD</div>

                                        <div class="float-end text-end" *ngIf="showPayout">Vyplaceno:<br />
                                            {{author.totalPayoutValue.toFixed(3)}} HBD
                                        </div>
                                    </div>

                                    <div class="col-lg">
                                        <div class="float-start text-start" *ngIf="showComment">Komentáře:
                                            {{author.comments}} </div>
                                        <div class="float-end text-end" *ngIf="showVote">Hlasy: <span
                                                *ngIf="author.negativeVotes>0"
                                                class="text-danger">{{author.negativeVotes}}
                                                | </span>{{author.votes}}</div>
                                    </div>
                                </div>

                                <app-item-total [totalCount]="postsModel.totalCount" [showPayout]="showPayout" [showComment]="showComment" [showData]="showData" [i]="i"></app-item-total>

                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<app-footer id="footer"></app-footer>

<app-modalloadbar *ngIf="showLoadBar"></app-modalloadbar>
<div *ngIf="selectedPost">
    <app-modal [isClosed]="isModalPostClosed" [title]="selectedPost.title" (crossClicked)="isModalPostClosed = true">

        <app-post-content [selectedActiveVotes]="selectedActiveVotes" [selectedPost]="selectedPost">

        </app-post-content>
    </app-modal>
</div>

<div>
    <app-modal [isClosed]="isModalSettingsClosed" [title]="'Nastavení'" (crossClicked)="isModalSettingsClosed = true">
        <app-settings></app-settings>
        <button footer type="button" class="btn btn-primary" (click)="saveSettings()">Uložit</button>
        <button footer type="button" class="btn btn-secondary" (click)="cancelSettings()">Zavřít</button>
    </app-modal>
</div>