<app-bar (onLoad)="load()" [title]="title" id="bar"></app-bar>

<div class="container-fluid" id="list" *ngIf="postsModel != undefined">


    <div class="accordion" id="accordionExample">
        <div *ngFor="let posts of postsModel.postsSorted; index as i" class="row">

            <div class="accordion-item">
                <h2 class="accordion-header" [attr.id]="'heading' + i">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse' + i" aria-expanded="false"
                        [attr.aria-controls]="'collapse' + i">
                        {{postsModel.dates[i].dateFrom}} - {{postsModel.dates[i].dateUntil}} Postů: {{posts.length}}
                        Autorů: {{postsModel.postsAuthor[i].length}}
                    </button>
                </h2>
                <div [attr.id]="'collapse' + i" class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accordionExample">

                    <ul class="nav nav-tabs nav-justified mt-3">
                        <li class="nav-item">
                            <button class="nav-link" (click)="clickChangeShowData('post')"
                                [class.active]="showData === 'post'">Posty</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" (click)="clickChangeShowData('author')"
                                [class.active]="showData === 'author'">Autoři</button>
                        </li>
                    </ul>

                    <div class="accordion-body">
                        body
                        <!-- Seznam postů-->
                        <div *ngIf="showData === 'post'">
                            <div class="row h6" *ngIf="posts.length>0">
                                <div class="col-2 text-end" (click)="clickCreate()">Vytvořeno</div>
                                <div class="col-1 text-center" (click)="clickAuthor()">Autor</div>
                                <div class="col-3 text-center" (click)="clickTitle()">Nadpis</div>
                                <div class="col-2 text-end" (click)="clickPending()">Čekající</div>
                                <div class="col-2 text-end" (click)="clickPayout()">Vyplaceno</div>
                                <div class="col-1 text-center" (click)="clickChildren()">Komentáře</div>
                                <div class="col-1 text-center" (click)="clickActiveVotes()">Hlasy</div>
                            </div>

                            <div *ngFor="let post of posts" class="row item" (click)="clickItem(post)">
                                <div class="col-2 text-end">{{this.dateFormat.getLocaleDate(post.created)}}</div>
                                <div class="col-1">{{post.author}}</div>
                                <div class="col-3">{{post.title}}</div>
                                <div class="col-2 text-end">{{post.pending_payout_value}}</div>
                                <div class="col-2 text-end">{{post.total_payout_value}}</div>
                                <div class="col-1 text-center">{{post.children}}</div>
                                <div class="col-1 text-center">{{post.active_votes.length}}</div>
                            </div>
                        </div>

                        <div *ngIf="showData === 'author'">
                            <div class="row h6" *ngIf="postsModel.postsAuthor[i].length>0">
                                <div class="col-1 text-center" (click)="clickAuthor()">Autor</div>
                                <div class="col-1 text-center" (click)="clickPost()">Posty</div>
                                <div class="col-1 text-center" (click)="clickPending()">Čekající</div>
                                <div class="col-1 text-end" (click)="clickPayout()">Vyplaceno</div>
                                <div class="col-1 text-center" (click)="clickChildren()">Komentáře</div>
                                <div class="col-1 text-center" (click)="clickActiveVotes()">Hlasy</div>
                            </div>

                            <div *ngFor="let author of postsModel.postsAuthor[i]" class="row item">
                                <div class="col-1">{{author.author}}</div>
                                <div class="col-1 text-center">{{author.posts}}</div>
                                <div class="col-1 text-end">{{author.pendingPayoutValue.toFixed(3)}} HBD</div>
                                <div class="col-1 text-end">{{author.totalPayoutValue.toFixed(3)}} HBD</div>
                                <div class="col-1 text-end">{{author.comments}}</div>
                                <div class="col-1 text-end">{{author.votes}}</div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<app-modalloadbar *ngIf="showLoadBar"></app-modalloadbar>
<div *ngIf="selectedPost">
    <app-modal [isClosed]="isModalClosed" [title]="selectedPost.title" (crossClicked)="isModalClosed = true">
        <div >
            <div [innerHTML]="selectedBody" class="body"></div>
        </div>

    </app-modal>
</div>