#bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}



.mobile-item {
    border: lightblue solid 1px;
    border-radius: 5px;
}


#icon-magnifying-glass {
    min-width: 260px;
    display: flex;
    min-height: 130px;
    background-image: url("/assets/images/lupa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

@media (max-width: 768px) {
    * {
        font-size: small;
    }
}


.activeSort {
    background-color: rgba(227, 19, 54, 0.5);
}

.item {
    border: 1px solid rgba(255, 255, 255);
}

.item:hover {
    background-color: rgba(227, 19, 55, 0.1);
    border: 1px solid rgba(227, 19, 55, 0.9);
}

.accordion-body {
    background-color: ivory;
}

.nav-link.active {
    background-color: ivory;
}

.wrap-text {
    overflow-wrap: break-word;
}

.alert {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

