/* You can add global styles to this file, and also import other style files */

img {
    max-width: 100% !important;
    height: auto !important;
    border-radius: 4px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin:5px auto;
    display: block;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    margin: 0 0 1rem;
    padding: 0.5625rem 1.25rem 0 1.1875rem;
    line-height: 150% !important;
    color: #8a8a8a;
    border-left: 1px solid #788187;
}

.markdown {
    font-family: "Source Serif Pro", serif;
    font-size: 120%;
    
    box-sizing: inherit;
    text-align: justify;
    margin: 0;
    padding: 0;
    line-height: 1.6 !important;
}

.float-start,.float-end {
    width: 50%;
    padding: 0px 5px;
}


